:root {
    --gameHeight: 80vh;
    --gameWidth: 75vw;
}

#board {
    height: var(--gameHeight);
    width: var(--gameWidth);
    background-color: black;
    margin-top: 50px;
}

#score {
    font-size: 2rem;
    font-weight: bold;
}