:root {
    --gameHeight: 500px;
    --gameWidth: 500px;
}

#board {
    /* not sure how to make it proportionate to screen  */
    height: var(--gameHeight);
    width: var(--gameWidth);
    background-color: black;
    margin-top: 50px;
}

#score {
    font-size: 5rem;
    font-weight: bold;
}