:root {
    --gameHeight: 500px;
    --gameWidth: 500px;
}

#board {
    /* not sure how to make it proportionate to screen  */
    height: var(--gameHeight);
    width: var(--gameWidth);
    background-color: black;
}

p {
    font-size: 1.5rem;
}

.score {
    font-size: 3rem;
    font-weight: bold;
}